{% extends "equipment/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Equipment Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'inventory:inven' %}" aria-disabled="true">Inventory&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'inventory:items' %}" aria-disabled="true">Inventory Items&nbsp;&nbsp;&nbsp;</a>
				</li><li class="nav-item active">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'equipment:equipment' %}">Equipment&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'equipment:newmodel' %}">New Equipment&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'locations:location' %}" aria-disabled="true">Equipment Locations&nbsp;&nbsp;&nbsp;</a>
				</li>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			   <li class="nav-item">
					<a class="nav-link" href="{% url 'accounting:new_expense' %}">
					  <span data-feather="file"></span>
					  Dashboard
					</a>
				 </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'accounting:invoice_item' %}">
					  <span data-feather="file"></span>
					  Invoicing
					</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link active" href="{% url 'accounting:expenses' %}">
					  <span data-feather="dollar-sign"></span>
					  Expenses <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'inventory:inven' %}">
					  <span data-feather="layers"></span>
					  Inventory
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'equipment:equipment' %}">
					  <span data-feather="layers"></span>
					  Equipment
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'customers:customer' %}">
					  <span data-feather="layers"></span>
					  Customers
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contractors:contractor' %}">
					  <span data-feather="layers"></span>
					  Contractors
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'vendors:vendor' %}">
					  <span data-feather="layers"></span>
					  Vendors
					</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'users:base' %}">
					  <span data-feather="layers"></span>
					  Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'users:logout' %}">
					  <span data-feather="layers"></span>
					  Logout
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'admin:index' %}">
					  <span data-feather="layers"></span>
					  Admin
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'atspublic:public' %}">
					  <span data-feather="file"></span>
					  Website
					</a>
				 </li>
				  
			</ul>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	    <input type='hidden' id = 'm_id' value = "" name='m_id' data-select='inventory_id'/>
        <h2 class="text-center">Equipment List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>ID</th>
					  <th>Description</th>
					  <th>Category</th>
					  <th>Band</th>
					  <th>Model</th>
					  <th>Vendor</th>
					  <th>Status</th>
					</tr>
			    </thead>
				<tbody>
					{% for model in models %}
						<tr>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.id}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.description}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.category}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.band}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.model}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id %}">{{model.vendor}}</td>
							<td><a class="nav-link" href="{% url 'equipment:model' model_id=model.id">{{model.status}}</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>                           
</body>
{% endblock %}

</html>
