{% extends "atspublic/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <body>
  <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Automated Test Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				{% if user.is_authenticated %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'dashboard:dashboard' %}"  tabindex="-1" >Dashboard&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% else %}
				<li class="nav-item">
				  <a class="nav-link disabled" href="{% url 'dashboard:dashboard' %}"  tabindex="-1" >Dashboard Disabled&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% endif %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:public' %}">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:software' %}"  tabindex="-1" >Software&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:racks' %}">Custom Fixtures&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" href="{% url 'atspublic:site' %}" tabindex="-1" >Field Support&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:robot_lab' %}" tabindex="-1" >Robot Lab&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:testmonial' %}"  tabindex="-1" >Testimonials&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:signup' %}"  tabindex="-1" >sign up&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS News letter&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS Blog&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="{% url 'atspublic:contacts' %}">Contact us</a>
						<a class="dropdown-item" href="{% url 'atspublic:signin' %}">Sign in</a>
						<a class="dropdown-item" href="#">Log out</a>
						<a class="dropdown-item" href="{% url 'atspublic:signup' %}">Sign up</a>
						<a class="dropdown-item" href="#">Change Password</a>
						<a class="dropdown-item" href="#">Reset Password</a>
						<a class="dropdown-item" href="#">User Manual</a>
					</div>
				 </li>
				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						{% if user.is_authenticated %}
							<a class="dropdown-item" href="{% url 'users:logout' %}">Staff Logout</a>
						{% else %}
							<a class="dropdown-item" href="{% url 'users:user_login' %}">Staff Login</a>
						{% endif %}
						<a class="dropdown-item" href="{% url 'admin:password_change' %}">Change Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Reset Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Settings</a>
						<a class="dropdown-item" href="{% url 'admin:index' %}">Administrator</a>
					</div>
				 </li>
			</ul>
			</div>
		</nav>
	</header>

<main role="main">

  <body>
<div class="container-xl">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="contact-form">
				<h1>Contact Us</h1>
				<p class="hint-text">We'd love to hear from you, please drop us a line for anything.</p>
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputFirstName">First Name</label>
								<input type="text" class="form-control" id="inputFirstName" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputLastName">Last Name</label>
								<input type="text" class="form-control" id="inputLastName" required>
							</div>
						</div>
					</div>            
					<div class="form-group">
						<label for="inputEmail">Email Address</label>
						<input type="email" class="form-control" id="inputEmail" required>
					</div>
					<div class="form-group">
						<label for="inputMessage">Message</label>
						<textarea class="form-control" id="inputMessage" rows="5" required></textarea>
					</div>
					<input type="submit" class="btn btn-primary" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>
</body>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'atspublic/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'atspublic/js/bootstrap.bundle.js' %}" ></script></body>
{% endblock %}
</html>
