{% extends "atspublic/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <body>
  <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Automated Test Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:public' %}">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:software' %}"  tabindex="-1" >Software&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:racks' %}">Custom Fixtures&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" href="{% url 'atspublic:site' %}" tabindex="-1" >Field Support&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:robot_lab' %}" tabindex="-1" >Robot Lab&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:testmonial' %}"  tabindex="-1" >Testimonials&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS News letter&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS Blog&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:contacts' %}"  tabindex="-1" >Contact us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'users:base' %}"  tabindex="-1" >Staff Site&nbsp;&nbsp;&nbsp;</a>
				</li>
			</ul>
			</div>
		</nav>
	</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container-md">
      <h1>ATS Field Support</h1>
      <p class="lead text-muted">Automated Test Solutions has the experienced personnel well suited for Field Support. We have extensive experience all RF, Satellite, and Avaition systems. </p>
      <p class="lead text-muted"></p>
      <p class="lead text-muted">Our Personnel are Test Equipment Experts and we have professional and personal relationships with all major Vendor Application Engineers including Keysite, Rohde & Schwartz, Tektronics, Fluke, etc... </p>
       <p>
        <a href="#" class="btn btn-primary my-2">Contact Us</a>
        <a href="#" class="btn btn-secondary my-2">Testimonials</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/field_globecomm.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">ATS developed a fully automated ATE for Field test a NATO mobile Satellite system for Globecomm</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/Mike_sat.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">ATS personnel is fully capable of design, assembly, and configuration of satelitte and avaition systems .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/awacs.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">ATS supporting IFF Radar systems.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Automated Test Solutions &copy; Your complete one stop solution for Test Automation</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'atspublic/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'atspublic/js/bootstrap.bundle.js' %}" ></script></body>
{% endblock %}
</html>
