{% extends "atspublic/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <body>
   <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Automated Test Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:public' %}">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:software' %}"  tabindex="-1" >Software&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'atspublic:racks' %}">Custom Fixtures&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:site' %}" tabindex="-1" >Field Support&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:robot_lab' %}" tabindex="-1" >Robot Lab&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:testmonial' %}"  tabindex="-1" >Testimonials&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS News letter&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS Blog&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:signup' %}"  tabindex="-1" >sign up&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:contacts' %}"  tabindex="-1" >Contact us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'users:base' %}"  tabindex="-1" >Staff Site&nbsp;&nbsp;&nbsp;</a>
				</li>
			</ul>
			</div>
		</nav>
	</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container-fluid">
      <h1>Custom Workstation Design</h1>
     </div>
	 <div class="container-md">
      <p class="lead text-muted">Automated Test Solutions has the experienced personnel required for designing, building, and maintaining complete and semi autonomous ATE Workstations. Utilizing our custom RF, communication, and control Switching modules, we can deliver at unprecedented short lead times. ATS is Six Sigma qualified </p>
      <p class="lead text-muted"></p>
      <p class="lead text-muted">Our Personnel are Test Equipment Experts and we have professional and personal relationships with all major Vendor Application Engineers including Keysite, Rohde & Schwartz, Tektronics, Fluke, etc... </p>
      <p class="lead text-muted"></p>
      <p class="lead text-muted">Our Test Engineers are experienced in Coding all Major Standard Software environments and Web Frameworks including  C, LabView, LabWindows CVI, Agilent VEE, VB.NET, C#.NET, Python, Django, JavaScript, HTML, CSS, etc..</p>
      
	  
	  <p>
        <a href="#" class="btn btn-primary my-2">Contact Us</a>
        <a href="#" class="btn btn-secondary my-2">Testimonials</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/CBand_Rack3.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This ATE Rack was designed to test RF Power Amplifiers. It comes complete with a Network Analyzer, a Spectrum Analyzer, A Power Sensor, a Temperature Plate, a DCIU for Control switching and an RFIU for RF Switching, The Software is written in LabWindow CVI</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/GC_rack.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This ATE Rack was designed to test Satellite Systems. It comes complete with a Network Analyzer, a Spectrum Analyzer, A Power Meter, and an RFIU for RF Switching, The Software is written in VB.NET.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/CEO.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This ATE Rack was designed to test Radar Systems. It comes complete with a Network Analyzer, a Spectrum Analyzer, A Power Meter, and an RFIU for RF Switching, The Software is written in LabView.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/IPP.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This Workstation was designed to test RF Directional Couplers. It comes complete with a Network Analyzer, RF Switching and a custom Automated Fixture for holding the Device under Test, The Software is written in VB.NET.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/Test_Station_DSC00996.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This Workstation was designed to test Board Level RF Modules. It comes complete with bed of nails fixture,a Network Analyzer, RF Switching and a custom Automated Fixture for holding the Device under Test, The Software is written in Agilent VEE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/kaylafieldfox.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This Workstation was designed to be a complete mobile Satellite Field ATE. The entire setup can fit into a backpack as a carry-on and easily taken to anywhere in the World. in the world It features a Keysight FieldFox that transforms into a Network Analyzer, a Spectrum analyzer, a Power Meter, and a signal Generator. The Software is written in VB.NET.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/pickandplace1.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">Robot Pick and Place. This fully Autonomus Workstation was designed to pick components from a tray using pneumatic suction and placing them onto a special Smart Fixture that opens and closes automatically. After Testing is complete, it places the device in the appropriate pass or fail location.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/RFIU.jpg' %}"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This Custom RFIU was designed for automated RF Switching and signal routing for a C-Band RF Power amplifier. It includes RF Switches, Couplers, & loads.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="{% static 'atspublic/images/Box with USB stuff.jpg' %}" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">This Custom communications and control device was designed for automated contol of all ATE devices and Devices under test. In includes Digital I/O, Analog I/O, Serial communications, & Parallel comunications. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<!-- FOOTER -->
<footer class="container">
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<a href="https://www.facebook.com/SIMBAProgramLLC" class="fa fa-facebook"></a>
		<a href="https://www.youtube.com/channel/UCvNoBhL6vW80sgQWlQUGu3g?view_as=subscriber" class="fa fa-youtube"></a>
		<a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-instagram"></a>
	</div>
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<p>&copy; 2010-2020 Automated Test Solutions &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>	
	<p class="float-right"><a href="#">Back to top</a></p>
</footer>
<!-- FOOTER -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'atspublic/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'atspublic/js/bootstrap.bundle.js' %}" ></script></body>
{% endblock %}
</html>
