{% extends "atspublic/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <body>
    <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Automated Test Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				{% if user.is_authenticated %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'dashboard:dashboard' %}"  tabindex="-1" >Dashboard&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% else %}
				<li class="nav-item">
				  <a class="nav-link disabled" href="{% url 'dashboard:dashboard' %}"  tabindex="-1" >Dashboard Disabled&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% endif %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:public' %}">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" href="{% url 'atspublic:software' %}"  tabindex="-1" >Software&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:racks' %}">Custom Fixtures&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:site' %}" tabindex="-1" >Field Support&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:robot_lab' %}" tabindex="-1" >Robot Lab&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:testmonial' %}"  tabindex="-1" >Testimonials&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >News letter&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >Blog&nbsp;&nbsp;&nbsp;</a>
				</li>
				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="{% url 'atspublic:contacts' %}">Contact us</a>
						<a class="dropdown-item" href="{% url 'atspublic:signin' %}">Sign in</a>
						<a class="dropdown-item" href="#">Log out</a>
						<a class="dropdown-item" href="{% url 'atspublic:signup' %}">Sign up</a>
						<a class="dropdown-item" href="#">Change Password</a>
						<a class="dropdown-item" href="#">Reset Password</a>
						<a class="dropdown-item" href="#">User Manual</a>
					</div>
				 </li>
				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						{% if user.is_authenticated %}
							<a class="dropdown-item" href="{% url 'users:logout' %}">Staff Logout</a>
						{% else %}
							<a class="dropdown-item" href="{% url 'users:user_login' %}">Staff Login</a>
						{% endif %}
						<a class="dropdown-item" href="{% url 'admin:password_change' %}">Change Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Reset Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Settings</a>
						<a class="dropdown-item" href="{% url 'admin:index' %}">Administrator</a>
					</div>
				 </li>
			</ul>
			</div>
		</nav>
	</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container-md">
      <h1>Software Application Design</h1>
      <p class="lead text-muted">Our ATE framework includes an integration of Software and Database. All configuration and functions are derived from specific Database tables. All Data is saved and retrieved from specific Database tables. This allows for and extremely powerful flexible system that will adapt to any environment.. </p>
      <p class="lead text-muted"></p>
      <p class="lead text-muted">We can build from the ground up or we can maintain and expand existing software environment.</p>
      <p class="lead text-muted"></p>
      <p class="lead text-muted">Our Test Engineers are experienced in Coding all Major Standard Software environments and Web Frameworks including  C, LabView, LabWindows CVI, Agilent VEE, VB.NET, C#.NET, Python, Django, JavaScript, HTML, CSS, etc..</p>
      
	  
	  <p>
        <a href="#" class="btn btn-primary my-2">Contact Us</a>
        <a href="#" class="btn btn-secondary my-2">Testimonials</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615765017/media/public/software_cpc_wtwuga.jpg"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">CPC ATE is a Windows application created for Communications Power Corporation. It is designed to test RF Power Amplifiers at the bench level. It features a Manual Mode GIU for Instrument control and a fully automatic ATE. It uses and controls USB Power Sensors, Signal Generator, and a Pulse Modulator.  The Software is written in VB.NET</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615765244/media/public/software_simbaweb_xly4mk.jpg" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">SIMPA PRO is a commercial for sale Small Business service platform. This is a Full Stack Web Application with Database. It features complete out of the box solutions for all buisness needs; including Sales, Inventory, Expenses, SKU's, ect...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615765296/media/public/software_gizm0_2_tgny4e.jpg"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">Gizm0 is fully autonomus Robot Pick and Place ATE created for Inovative Power Products (IPP).  It fully tests all RF Directional coupler types and models utilizing a Robot, a smart holding fixture, a Vector Network Analyzer, and RF Switching. This is a Full Stack Web Application with  Database.  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615763819/media/public/CADShot_ulorxw.jpg"  width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">CADSHOT is a Windows application created for Inovative Power Products (IPP). It's main function is to capture screen shots from older Vector Network Analyzers that only output PLOT files.  It is a colaboration with CADEditorX and also features full CAD design capibilities. The Software is written in VB.NET.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615765053/media/public/software_ipp_nw6i8e.jpg" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">IPP Coupler Automation is a Windows application for Inovative Power Products (IPP) It comes complete with a Network Analyzer, RF Switching and a custom Automated Fixture for holding the Device under Test. The Software is written in VB.NET</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top"  src="https://res.cloudinary.com/automated-test-solutions/image/upload/v1615765385/media/public/software_tcli2_fuzujb.jpg" width="70%" height="325" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></simg>
            <div class="card-body">
              <p class="card-text">ATS Inventory Management is a Full Stack Web Application with Database. I manages all inventory for the Satelitte</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</main>

<!-- FOOTER -->
<footer class="container">
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<a href="https://www.facebook.com/SIMBAProgramLLC" class="fa fa-facebook"></a>
		<a href="https://www.youtube.com/channel/UCvNoBhL6vW80sgQWlQUGu3g?view_as=subscriber" class="fa fa-youtube"></a>
		<a href="https://twitter.com/automatedtests1" class="fa fa-twitter"></a>
		<a href="https://www.instagram.com/automatedtestsolutions/" class="fa fa-instagram"></a>
	</div>
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<p>&copy; 2010-2020 Automated Test Solutions &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>	
	<p class="float-right"><a href="#">Back to top</a></p>
</footer>
<!-- FOOTER -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'atspublic/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'atspublic/js/bootstrap.bundle.js' %}" ></script></body>
{% endblock %}
</html>
