{% extends "atspublic/testimonal_layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <body>
  <header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Automated Test Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:public' %}">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:software' %}"  tabindex="-1" >Software&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:racks' %}">Custom Fixtures&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:site' %}" tabindex="-1" >Field Support&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:robot_lab' %}" tabindex="-1" >Robot Lab&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'atspublic:testmonial' %}"  tabindex="-1" >Testimonials&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS News letter&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'atspublic:news' %}"  tabindex="-1" >ATS Blog&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'dashboard:dashboard' %}"  tabindex="-1" >Dashboard&nbsp;&nbsp;&nbsp;</a>
				</li>
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="{% url 'atspublic:contacts' %}">Contact us</a>
						<a class="dropdown-item" href="{% url 'atspublic:signin' %}">Sign in</a>
						<a class="dropdown-item" href="#">Log out</a>
						<a class="dropdown-item" href="{% url 'atspublic:signup' %}">Sign up</a>
						<a class="dropdown-item" href="#">Change Password</a>
						<a class="dropdown-item" href="#">Reset Password</a>
						<a class="dropdown-item" href="#">User Manual</a>
					</div>
				 </li>
				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Staff</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						{% if user.is_authenticated %}
							<a class="dropdown-item" href="{% url 'users:user_logout' %}">Staff Logout/a>
						{% else %}
							<a class="dropdown-item" href="{% url 'users:user_login' %}">Staff Login</a>
						{% endif %}
						<a class="dropdown-item" href="{% url 'admin:password_change' %}">Change Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Reset Staff Password</a>
						<a class="dropdown-item" href="{% url 'users:base' %}">Settings</a>
						<a class="dropdown-item" href="{% url 'admin:index' %}">Administrator</a>
					</div>
				 </li>
			</ul>
			</div>
		</nav>
	</header>

<main role="main">

  <body>
<div class="container my-5 justify-content-center">
    <div class=" row justify-content-center ">
        <div class="col-lg-6 col-12 mt-5 ">
            <div class="card mt-3 ">
                <div class="layer"></div>
                <div class="content">
                    <div class="card-header text-center border-0">
                        <div class="row justify-content-center my-4">
                            <div class="col">
                                <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                                    <div class="col-3 text-right"><img class="img-fluid" id="quotes" src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110"></div>
                                    <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 " src="https://i.imgur.com/nUNhspp.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center pb-3 ">
                        <div class="row justify-content-center">
                            <div class="col text-center justify-content-center ">
                                <p class="bold text-center px-md-3"> Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty remarkable – but I’d always like to see more!</p>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-auto mb-4">
                    <div class="card-footer text-center border-0 mt-0 pt-0 mb-3">
                        <div class="row text-center name mt-auto ">
                            <div class="col">
                                <h4 class="mb-0 Elizabeth">Sophia Smith</h4> <small class="mt-0 text-white">Hair Specialist</small>
                                <p><span class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span><span class="fa fa-star-half-o text-warning mr-1"></span><span class="fa fa-star-o text-warning mr-1"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-5 ">
            <div class="card mt-3 ">
                <div class="layer"></div>
                <div class="content">
                    <div class="card-header text-center border-0">
                        <div class="row justify-content-center my-4">
                            <div class="col">
                                <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                                    <div class="col-3 text-right"><img class="img-fluid" id="quotes" src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110"></div>
                                    <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 " src="https://i.imgur.com/HjKTNkG.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center pb-3 ">
                        <div class="row justify-content-center">
                            <div class="col text-center justify-content-center ">
                                <p class="bold text-center px-md-3"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Automated Test Solutions allowed us to understand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-auto mb-4">
                    <div class="card-footer text-center border-0 mt-0 pt-0 mb-3">
                        <div class="row text-center name mt-auto ">
                            <div class="col">
                                <h4 class="mb-0 Elizabeth">SMike Housin</h4> <small class="mt-0 text-white">Director of Engineering</small>
                                <p><span class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span><span class="fa fa-star-o text-warning mr-1"></span><span class="fa fa-star-o text-warning mr-1"></span><span class="fa fa-star-o text-warning mr-1"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- FOOTER -->
<footer class="container">
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<a href="https://www.facebook.com/SIMBAProgramLLC" class="fa fa-facebook"></a>
		<a href="https://www.youtube.com/channel/UCvNoBhL6vW80sgQWlQUGu3g?view_as=subscriber" class="fa fa-youtube"></a>
		<a href="#" class="fa fa-twitter"></a>
		<a href="#" class="fa fa-instagram"></a>
	</div>
	<div class="container mt-5 mb-5 d-flex justify-content-center">
		<p>&copy; 2010-2020 Automated Test Solutions &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>	
	<p class="float-right"><a href="#">Back to top</a></p>
</footer>
<!-- FOOTER -->
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'atspublic/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'atspublic/js/bootstrap.bundle.js' %}" ></script></body>
{% endblock %}
</html>
