{% extends "contractors/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Contractor Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'inventory:inven' %}" aria-disabled="true">Inventory&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounting:invoice_item' %}" aria-disabled="true">Inventory Items&nbsp;&nbsp;&nbsp;</a>
				</li><li class="nav-item">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'equipment:equipment' %}">Equipment</a>
				</li>
				<li class="nav-item  active">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'equipment:newmodel' %}">New Equipment&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'locations:location' %}" aria-disabled="true">Equipment Locations&nbsp;&nbsp;&nbsp;</a>
				</li>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
			   <li class="nav-item">
					<a class="nav-link" href="{% url 'accounting:new_expense' %}">
					  <span data-feather="file"></span>
					  Dashboard
					</a>
				 </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'accounting:new_expense' %}">
					  <span data-feather="file"></span>
					  Invoicing
					</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link active" href="{% url 'accounting:income' %}">
					  <span data-feather="dollar-sign"></span>
					  Income <span class="sr-only">(current)</span>
					</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link active" href="{% url 'accounting:expenses' %}">
					  <span data-feather="dollar-sign"></span>
					  Expenses <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'inventory:inven' %}">
					  <span data-feather="layers"></span>
					  Inventory
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'equipment:equipment' %}">
					  <span data-feather="layers"></span>
					  Equipment
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'client:client' %}">
					  <span data-feather="layers"></span>
					  Clients
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'users:base' %}">
					  <span data-feather="layers"></span>
					  Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'users:logout' %}">
					  <span data-feather="layers"></span>
					  Logout
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'admin:index' %}">
					  <span data-feather="layers"></span>
					  Admin
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'atspublic:public' %}">
					  <span data-feather="file"></span>
					  Website
					</a>
				 </li>
				  
			</ul>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Contractor Detail</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<a style = "color:#CCD1D1" > {{operator}} logged in</a>
				</div>
			</div>
		</div>
		<form action = "{% url 'contractors:site' contractor_id=site.id %}"  method="post">
		    {% csrf_token %}
			<div class="row">
				<div class="col-sm-1 col-lg-4 grid-col">
					<div class="form-group">
						<label for="_name">Company Name</label>
						<input id = "_name" name = "_name" input class="form-control" value="{{site.name}}" placeholder="Enter Company Name"  onkeyup= "get_name();"  required autofocus>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_name">Latitude</label>
						<input id = "_lat" name = "_lat" input class="form-control"  value="{{site.lat}}" placeholder="Enter GPS Latitude">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_name">Longitude</label>
						<input id = "_lng" name = "_lng" input class="form-control" value="{{site.lng}}" placeholder="Enter GPS Longitude">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_addr">Street address</label>
						<input id = "_addr" name = "_addr" input class="form-control" value="{{site.address}}" placeholder="Enter Street"  onkeyup= "get_geo();">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_city">City</label>
						<input id = "_city" name = "_city" input class="form-control" value="{{site.city}}" placeholder="Enter City"  onkeyup= "get_geo();">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_state">state</label>
						<input id = "_state" name="_state" input class="form-control"  value="{{site.state}}" placeholder="Enter state"  onkeyup= "get_geo();">
					</div>
				</div>
			   <div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_zip">Zip Code</label>
						<input id = "_zip" name = "_zip" input class="form-control"  value="{{site.zip_code}}" placeholder="Enter Zip Code">
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_phone">Phone Number</label>
						<input type="tel" id = "_phone" name = "_phone" input class="form-control"  value="{{site.phone}}" placeholder="Enter phone #">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_email">Email Address</label>
						<input type="email" id = "_email" name = "_email" input class="form-control"  value="{{site.email}}" placeholder="Enter Email">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_web">Web Site</label>
						<input type="url" id = "_web" name = "_web" input class="form-control" value="{{site.website}}" placeholder="Enter website">
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-check">
						{% if active == 'on' %}
							<input type="checkbox" class="form-check-input" id="_active" name="_active" checked = "checked" onclick="check();"/>
							<label class="form-check-label" for="_interval">&nbsp;&nbsp;&nbsp;&nbsp;Active</label>
						{% else %}
							<input type="checkbox" class="form-check-input" id="_active" name="_active" onclick="check();"/>
							<label class="form-check-label" for="_interval">&nbsp;&nbsp;&nbsp;&nbsp;Active</label>
						{% endif %}
					</div>
					<div class="form-group">
						<a>&nbsp;&nbsp;</a>
						<button type="submit" id = "title" data-search="save" value="Save"  class="btn btn-success">Update Contractor</button>
					</div>
				</div>
			</div>
		 </form>
		<h2>Contractor Location</h2>
		<h4 id ='_company' name ='_company' >{{site.name}},   {{site.address}}, {{site.city}}, {{site.state}}</h4>
		<!--The div element for the map -->
		<div id="map"></div>
		<input type="hidden" id = "_long" value = "{{site.lng}}">
		<input type="hidden" id = "latitude" value = "{{site.lat}}">
		
		<script>
			// Initialize and add the map
			function initMap() {
			  // The locationname of Uluru
			  var lat = parseFloat(document.getElementById("latitude").value)
			  var lng = parseFloat(document.getElementById("_long").value)
			  var uluru = {lat: lat, lng: lng};
			  // The map, centered at Uluru
			  var map = new google.maps.Map(
			  document.getElementById('map'), {zoom: 4, center: uluru});
			  // The marker, positioned at Uluru
			  var marker = new google.maps.Marker({position: uluru, map: map});
			}
		</script>
		<!--Load the API from the specified URL
		* The async attribute allows the browser to render the page while the API loads
		* The key parameter will contain your own API key (which is not needed for this tutorial)
		* The callback parameter executes the initMap() function
		-->
	</main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'contractors/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'contractors/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdLJjwYFH9rnK-YPQ8zN-S09aKNinc_2Q&callback=initMap"></script>
</body>
{% endblock %}

</html>

