{% extends "accounts/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body onload="check_start()">
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Invoice Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'dashboard:dashboard' %}" aria-disabled="true">Dashboard</a>
				</li>
				<li class="nav-invoice">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounts:invoice' %}" aria-disabled="true">Search Invoice&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-invoice">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounts:new_invoice' %}" aria-disabled="true">Create Invoice&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-invoice active">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounts:invoice_item' %}" aria-disabled="true">Invoice Items&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-invoice ">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'accounts:charge_code' %}">Charge Codes</a>
				</li>
				<li class="nav-item">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'contractors:contractor' %}">Contractors&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'client:client' %}" aria-disabled="true">Clients&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'dashboard:dashboard' %}" aria-disabled="true">Dashboard</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar navbar-dark bg-dark sidebar collapse" >
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand text-left sidebar-brand m-0" href="#">
				<span class="text-left d-lg-flex flex-wrap justify-content-lg-start" style="font-size: 12;">ATS Navigation</span>
				<div class="sidebar-brand-icon rotate-n-15"></div><div class="sidebar-brand-text mx-3"></div></a>
				<hr class="sidebar-divider my-0">
				<ul class="nav navbar-nav text-light nav flex-column" id="accordionSidebar">
					<li class="nav-item"><a class="nav-link" href="{% url 'dashboard:dashboard' %}"><i class="fas fa-chart-line"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
					<li class="nav-item"></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'accounts:invoice_item' %}"><i class="fa fa-balance-scale"></i><span>&nbsp;&nbsp;&nbsp;Invoicing</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:quote_item' %}"><i class="fa fa-address-book"></i><span>&nbsp;&nbsp;&nbsp;Quotes</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:income' %}"><i class="fa fa-credit-card"></i><span>&nbsp;&nbsp;&nbsp;Income</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'assets:assets' %}"><i class="fas fa-truck"></i><span>&nbsp;&nbsp;&nbsp;Capital Budget</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:new_expense' %}"><i class="fas fa-gas-pump"></i><span style="font-family: Nunito, sans-serif;"&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Expenses</span></a>
					<li class="nav-item"><a class="nav-link" href="{% url 'inventory:inven' %}"><i class="fa fa-barcode"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Inventory</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'equipment:equipment' %}"><i class="fa fa-cogs"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Equipment</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'client:client' %}"><i class="fa fa-user"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Clients</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'contractors:contractor' %}"><i class="fa fa-wrench"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Contractors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'vendor:vendor' %}"><i class="fab fa-connectdevelop"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Vendors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'locations:location' %}"><i class="far fa-building"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Locations</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'users:base' %}"><i class="fas fa-tachometer-alt"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Home</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="far fa-sun"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'atspublic:public' %}"><i class="fa fa-male"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Website</span></a></li>
				</ul>
				<div class="text-center d-none d-md-inline"></div>
			</div>
		</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<form action = "{% url 'accounts:invoice_item' %}" method="post">
		{% csrf_token %}
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			{% if item == -1 %}
				<h1 class="h2">Create new Invoice Item</h1>
			{% else %}
				<h1 class="h2">Modify Invoice Item</h1>
			{% endif %}
			<div class="btn-toolbar mb-2 mb-md-0">
				<a style = "color:#CCD1D1" > {{operator}} logged in</a>
			</div>
		</div>
		{% if item == -1 %}
			<input type='hidden' id = '_item_id' name='_item_id' value = "-1" />
		{% else %}
			<input type='hidden' id = 'item_id' name='_item_id' value = "{{item.id}}" />
		{% endif %}
		<div class="row">
			<div class="col-sm-1 col-lg-2 grid-col">
				 <div class="form-group">
					<label>Resource Type<span class="k-required"></span></label>
					<input type='hidden' name='category' data-select='category'/>
					<select id='_res_type' name = "_res_type" value = "{{exp.expense_type}}" class="browser-default custom-select custom-select-lg mb-3" required >
						{% if item == -1 %}
							<option selected>select option</option>
						{% else %}
							<option selected>{{item.resource_type}}</option>
						{% endif %}
						<option data-desc = 'expense_type', value = "Purchase Item">Purchase Item</option>
						<option data-desc = 'expense_type', value = "Assembly">Assembly</option>
						<option data-desc = 'expense_type', value = "Labor">Labor</option>
						<option data-desc = 'expense_type', value = "Inspection">Inspection</option>
						<option data-desc = 'expense_type', value = "Data Input">Data Input</option>
						<option data-desc = 'expense_type', value = "ATE Development">ATE Development</option>
						<option data-desc = 'expense_type', value = "Software Development">Software Development</option>
						<option data-desc = 'expense_type', value = "Database Development">Database Development</option>
						<option data-desc = 'expense_type', value = "Documentation">Documentation</option>
						<option data-desc = 'expense_type', value = "Field Debug">Field Debug</option>
						<option data-desc = 'expense_type', value = "Field Design">Field Design</option>
						<option data-desc = 'expense_type', value = "Field Testing">Field Testing</option>
						<option data-desc = 'expense_type', value = "Office Debug">Office Debug</option>
						<option data-desc = 'expense_type', value = "Office Design">Office Design</option>
						<option data-desc = 'expense_type', value = "Site Debug">Site Debug</option>
						<option data-desc = 'expense_type', value = "Site Design">Site Design</option>
						<option data-desc = 'expense_type', value = "Site Testing">Site Testing</option>
					</select>
				</div>	
			</div>	
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<label>Service Type<span class="k-required"></span></label>
					<input type='hidden' name='exp_desc' data-select='site'/>
					<select id='_service_type' name = "_service_type" class="browser-default custom-select custom-select-lg mb-3" required>
						{% if item != -1  %}
							<option selected>{{item.service_type}}</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						<option data-desc = 'expense', value = "ATE Application">ATE Application</option>
						<option data-desc = 'expense', value = "Windows Application">Windows Application</option>
						<option data-desc = 'expense', value = "Web Application">Web Application</option>
						<option data-desc = 'expense', value = "Production">Manual Test Fixture</option>
						<option data-desc = 'expense', value = "Quality">Automated Test Fixture</option>
						<option data-desc = 'expense', value = "Quality">Robot Test Fixture</option>
					</select>
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<!-- contractor-->
					<label>Service Provider<span class="k-required"></span></label>
					<input type='hidden' name='_contractor' data-select='contractor'/>
					<select id='_contractor' name ='_contractor' class="browser-default custom-select custom-select-lg mb-3" required>
						{% if item == -1%}
							<option data-desc = 'contractor', value = "select menu">select menu</option>
						{% else %}
							<option selected>{{contractor}}</option>
						{% endif %}	
						{% for contr in contractor_list%}
							<option data-desc = 'contractor', value = "{{contr}}">{{contr}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<!-- Customer-->
					<label>Customer<span class="k-required"></span></label>
					<input type='hidden' name='_cust' data-select='cust'/>
					<select id='_cust' name ='_cust' class="browser-default custom-select custom-select-lg mb-3" required>
						{% if item == -1%}
							<option data-desc = 'vendor', value = "select menu">select menu</option>
						{% else %}
							<option selected>{{client}}</option>
						{% endif %}	
						{% for cust in client_list%}
							<option data-desc = 'vendor', value = "{{cust}}">{{cust}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<!-- Customer-->
					<label>Charge Code<span class="k-required"></span></label>
					<input type='hidden' name='_charge' data-select='cust'/>
					<select id='_charge' name ='_charge' class="browser-default custom-select custom-select-lg mb-3" required>
						{% if item == -1%}
							<option data-desc = 'charge', value = "select menu">select menu</option>
						{% else %}
							<option selected>{{charge}}</option>
						{% endif %}	
						{% for charg in charge_list%}
							<option data-desc = 'charge', value = "{{charg}}">{{charg}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					{% if item != -1 %}
						<label for="_quantity">Invoice ID</label>
						<input id = "_invoice_id"  name = "_invoice_id" input class="form-control" value = "{{item.invoice_id}}"  required>
					{% endif %}
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-lg-4 grid-col">
				<div class="form-group">
					<label for="_item_desc">Product or Service</label>
					{% if item == -1 %}
						<input id = "_item_desc" name = "_item_desc" input class="form-control" placeholder="Enter Item description"  required >
					{% else %}
						<input id = "_item_desc" name = "_item_desc" input class="form-control" value = "{{item.item_desc}}"  required >
					{% endif %}
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<label for="_quantity">Item Date</label>
					{% if item == -1 %}
						<input type = "date" id = "_item_date"  name = "_item_date" input class="form-control" required>
					{% else %}
						<input  type = "date" id = "_item_date"  name = "_item_date" input class="form-control" value = {{item.item_date}} required>
					{% endif %}
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label>Cost Type<span class="k-required"></span></label>
					<input type='hidden' name='exp_desc' data-select='site'/>
					<select id='_item_cost_type' name = "_item_cost_type" class="browser-default custom-select custom-select-lg mb-3" required>
						{% if item != -1  %}
							<option selected>{{item.cost_type}}</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						<option data-desc = 'expense', value = "Per Hour">Per Hour</option>
						<option data-desc = 'expense', value = "Quantity">Quantity</option>
						<option data-desc = 'expense', value = "Size mm">Size mm</option>
						<option data-desc = 'expense', value = "Size cm">Size cm</option>
						<option data-desc = 'expense', value = "Size meter">Size meter</option>
						<option data-desc = 'expense', value = "Size inch">Size inch</option>
						<option data-desc = 'expense', value = "Size Foot">Size Foot</option>
						<option data-desc = 'expense', value = "Length mm">Length mm</option>
						<option data-desc = 'expense', value = "Length cm">Length cm</option>
						<option data-desc = 'expense', value = "Length meter">Length meter</option>
						<option data-desc = 'expense', value = "Length inch">Length inch</option>
						<option data-desc = 'expense', value = "Length Foot">Length Foot</option>
					</select>
				</div>
			</div>
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_quantity">Quantity</label>
					{% if item == -1 %}
						<input id = "_quantity"  name = "_quantity" input class="form-control"  placeholder="Quantity" required>
					{% else %}
						<input id = "_quantity"  name = "_quantity" value = "{{item.quantity}}" input class="form-control" required>
					{% endif %}
				</div>	
			</div>
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_item_cost">Rate</label>
					{% if item == -1 %}
						<input id = "_item_cost"  name = "_item_cost" input class="form-control"  placeholder="Enter cost" required>
					{% else %}
						<input id = "_item_cost"  name = "_item_cost" value = "{{item.rate}}" input class="form-control" required>
					{% endif %}
				</div>	
			</div>
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_total_cost">Total Cost</label>
					{% if item == -1 %}
						<input id = "_total_cost" name = "_total_cost" input class="form-control" placeholder="Total cost"  required>
					{% else %}
						<input id = "_total_cost" name = "_total_cost" input class="form-control" value = "{{item.total}}" required>
					{% endif %}
				</div>
			</div>
			{% if item == -1 %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<label  for="_quantity">Save</label>
							<button type="submit" id = "_save" name = "_save"  class="btn btn-success">Save Item</button>
						</div>
					</div>
				{% else %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<button type="submit" id = "_update" name = "_update"  class="btn btn-primary">Update</button>
							<button type="submit" id = "_delete" name = "_delete"  class="btn btn-danger">Delete&nbsp;</button>
						</div>
					</div>
				{% endif %}
			</div>
		<div class="row">
		</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<div class="form-check">
						{% if active == 'on' %}
							<input type="checkbox" class="form-check-input" id="_active" name="_active" checked = "checked" onclick="check();"/>
							<label class="form-check-label" for="_active">&nbsp;&nbsp;&nbsp;&nbsp;Active</label>
						{% elif active == 'off' %}
							<input type="checkbox" class="form-check-input" id="_active" name="_active" onclick="check();"/>
							<label class="form-check-label" for="_active">&nbsp;&nbsp;&nbsp;&nbsp;Active?</label>
						{% else %}
							<input type="checkbox" class="form-check-input" id="_active" name="_active" checked = "checked" onclick="check();"/>
							<label class="form-check-label" for="_active">&nbsp;&nbsp;&nbsp;&nbsp;Active</label>
						{% endif %}
					</div>
			
		
		
	</form>
	</div>
		</div>	
		<h2 class="text-center">Items List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>ID</th>
					  <th>Invoice ID</th>
					  <th>Client ID</th>
					  <th>Resource Type</th>
					  <th>Service Type</th>
					  <th>Item Date</th>
					  <th>Item Description</th>
					  <th>Total Charge</th>
					  <th>Active</th>
					</tr>
			    </thead>
				<tbody>
					{% for item1 in item_list %}
						<tr>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.id}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.invoice_id}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.client_id}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.resource_type}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.service_type}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.item_date}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.item_desc}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.total}}</td>
							<td><a class="nav-link" href="{% url 'accounts:invoice_item' %}?item_id={{item1.id}}&charge_id={{item1.charge_id}}&client_id={{item1.client_id}}">{{item1.active}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	$(document).ready(function() {
		// Get value on button click and show alert
		$("#_quantity").keyup(calc);
		$("#_item_cost").keyup(calc);
		function calc() {
		  $('#_total_cost').val(
			parseInt($('#_quantity').val(), 10) * parseFloat($('#_item_cost').val(), 10)
		);
	}
	});
</script>
		
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script> 
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

</body>
{% endblock %}

</html>
