{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/x-icon" href="{% static 'accounts/images/ats_16X16.ico' %}">
		<title>Automated Test Solutions</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="Automated Test Solutions" content="Accounting Management page">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
		<!-- Book Search -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static 'accounts/fonts/fontawesome-all.min.css' %}">
        
		<!-- Custom styles for this template -->
		<!--link href="{% static 'accounts/js/checkbox.js' %}" rel="stylesheet"-->
		<link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet">
		<script>
			function check()
			{
			  if (document.getElementById('_interval').checked) 
			  {
				  document.getElementById("_interval_checked").style.visibility = "visible";
			  } else {
				  document.getElementById("_interval_checked").style.visibility = "hidden";
			  }
			}
			
			function check_start()
			{
				 if (document.getElementById('_interval').checked) 
				  {
					  document.getElementById("_interval_checked").style.visibility = "visible";
				  } else {
					  document.getElementById("_interval_checked").style.visibility = "hidden";
				  }
			}
			
			function paid()
			{
			  if (document.getElementById('_paid').checked) 
			  {
				  document.getElementById("_paid_status").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;paid";
			  } else {
				  document.getElementById("_paid_status").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;unpaid";
			  }
			}
			
			function check_paid()
			{
				 if (document.getElementById('_paid').checked) 
				  {
					  document.getElementById("_paid_status").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;paid";
				  } else {
					  document.getElementById("_paid_status").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;unpaid";
				  }
			}
			
		
		
		</script>
			

	</head>
	<body>
	   {% block body %}
	   {% endblock %}
	</body>
</html>
