{% extends "accounts/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body onload="check_start()">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Expense Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'dashboard:dashboard' %}" aria-disabled="true">Dashboard</a>
				</li>
				<li class="nav-item">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounts:expenses' %}" aria-disabled="true">Expense&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item  active">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'accounts:new_expense' %}">New Expense</a>
				</li>
				<li class="nav-item ">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'vendor:vendor' %}">New Vendor or Store&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar navbar-dark bg-dark sidebar collapse" >
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand text-left sidebar-brand m-0" href="#">
				<span class="text-left d-lg-flex flex-wrap justify-content-lg-start" style="font-size: 12;">ATS Navigation</span>
				<div class="sidebar-brand-icon rotate-n-15"></div><div class="sidebar-brand-text mx-3"></div></a>
				<hr class="sidebar-divider my-0">
				<ul class="nav navbar-nav text-light nav flex-column" id="accordionSidebar">
					<li class="nav-item"><a class="nav-link" href="{% url 'dashboard:dashboard' %}"><i class="fas fa-chart-line"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
					<li class="nav-item"></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'accounts:invoice_item' %}"><i class="fa fa-balance-scale"></i><span>&nbsp;&nbsp;&nbsp;Invoicing</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'accounts:quote_item' %}"><i class="fa fa-address-book"></i><span>&nbsp;&nbsp;&nbsp;Quotes</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:income' %}"><i class="fa fa-credit-card"></i><span>&nbsp;&nbsp;&nbsp;Income</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'assets:assets' %}"><i class="fas fa-truck"></i><span>&nbsp;&nbsp;&nbsp;Capital Assets</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:new_expense' %}"><i class="fas fa-gas-pump"></i><span style="font-family: Nunito, sans-serif;"&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Expenses</span></a>
					<li class="nav-item"><a class="nav-link" href="{% url 'inventory:inven' %}"><i class="fa fa-barcode"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Inventory</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'equipment:equipment' %}"><i class="fa fa-cogs"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Equipment</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'client:client' %}"><i class="fa fa-user"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Clients</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'contractors:contractor' %}"><i class="fa fa-wrench"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Contractors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'vendor:vendor' %}"><i class="fab fa-connectdevelop"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Vendors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'locations:location' %}"><i class="far fa-building"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Locations</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'users:base' %}"><i class="fas fa-tachometer-alt"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Home</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="far fa-sun"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'atspublic:public' %}"><i class="fa fa-male"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Website</span></a></li>
				</ul>
				<div class="text-center d-none d-md-inline"></div>
			</div>
		</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<form action = "{% url 'accounts:new_expense' %}" method="post">
		{% csrf_token %}
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			{% if exp == -1 %}
				<h1 class="h2">Create new Expense Item</h1>
			{% else %}
				<h1 class="h2">Modify Expense Item</h1>
			{% endif %}
			<div class="btn-toolbar mb-2 mb-md-0">
				<a style = "color:#CCD1D1" > {{operator}} logged in</a>
			</div>
		</div>
		{% if exp == -1 %}
			<input type='hidden' id = 'e_id' name='e_id' value = "-1" />
		{% else %}
			<input type='hidden' id = 'e_id' name='e_id' value = "{{exp.id}}" />
		{% endif %}
		<div class="row">
			<div class="col-sm-1 col-lg-2 grid-col">
				 <div class="form-group">
					<label>Expense Type<span class="k-required"></span></label>
					<input type='hidden' name='category' data-select='category'/>
					<select id='_exp_type' name = "_exp_type" value = "{{exp.expense_type}}" class="browser-default custom-select custom-select-lg mb-3" required >
						{% if exp == -1 %}
							<option selected>select option</option>
						{% else %}
							<option selected>{{exp.expense_type}}</option>
						{% endif %}
						<option data-desc = 'expense_type', value = "General">General</option>
						<option data-desc = 'expense_type', value = "Assets">Capital Assets</option>
						<option data-desc = 'expense_type', value = "Marketing">Marketing</option>
						<option data-desc = 'expense_type', value = "Salarys">Salarys</option>
					</select>
				</div>	
			</div>	
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<label>Expense Description<span class="k-required"></span></label>
					<input type='hidden' name='exp_desc' data-select='site'/>
					<select id='_exp_desc' name = "_exp_desc" class="browser-default custom-select custom-select-lg mb-3" required>
						{% if exp != -1  %}
							<option selected>{{exp.expense_description}}</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						
						<option data-desc = 'expense', value = "Salarys">Data Entry</option>
						
						<option data-desc = 'expense', value = "Fees">Fees</option>
						<option data-desc = 'expense', value = "Wages">Wages</option>
						<option data-desc = 'expense', value = "Taxes">Taxes</option>
						<option data-desc = 'expense', value = "Internet">Internet</option>
						<option data-desc = 'expense', value = "Database">Database</option>
						<option data-desc = 'expense', value = "Computers">Computers</option>
						<option data-desc = 'expense', value = "Software">Software</option>
						<option data-desc = 'expense', value = "Services">Services</option>
						<option data-desc = 'expense', value = "Gas">Gas</option>
						<option data-desc = 'expense', value = "Liability Insurance">Liability Insurance</option>
						<option data-desc = 'expense', value = "Building Rent">Building Lease/Mortgage</option>
						<option data-desc = 'expense', value = "Building Utilities">Building Utilities</option>
						<option data-desc = 'expense', value = "Building Insurance">Building Insurance</option>
						<option data-desc = 'expense', value = "Building  Tax">Building  Tax</option>
						<option data-desc = 'expense', value = "Building Maintainance">Building Maintainance</option>
						<option data-desc = 'expense', value = "Vehicle Lease">Vehicle Lease</option>
						<option data-desc = 'expense', value = "Vehicle Insurance">Vehicle Insurance</option>
						<option data-desc = 'expense', value = "Vehicle Maintainance">Vehicle Maintainance</option>
						<option data-desc = 'expense', value = "Vehicle Repair">Vehicle Repair</option>
						<option data-desc = 'expense', value = "Vehicle Tires">Vehicle Tires</option>
						<option data-desc = 'expense', value = "Vehicle Tax">Vehicle Tax</option>
						<option data-desc = 'expense', value = "Vehicle Inspection">Vehicle Inspection</option>
						<option data-desc = 'expense', value = "Vehicle Registration">Vehicle Registration</option>
						<option data-desc = 'expense', value = "Vehicle Registration">Vehicle Depreciation</option>
						<option data-desc = 'expense', value = "Office Supplies">Office Supplies</option>
						<option data-desc = 'expense', value = "Lab Supplies">Lab Supplies</option>
						<option data-desc = 'expense', value = "Machine Shop Supplies">Machine Shop Supplies</option>
						<option data-desc = 'expense', value = "Interest">Interest</option>
						<option data-desc = 'expense', value = "Shipping">Shipping</option>
						<option data-desc = 'expense', value = "Storage">Storage</option>
						<option data-desc = 'expense', value = "Electronics">Electronics</option>
						<option data-desc = 'expense', value = "Test Fixtures">Test Fixtures</option>
						<option data-desc = 'expense', value = "Robot">Robot</option>
						<option data-desc = 'expense', value = "Depreciation">Depreciation</option>
						<option data-desc = 'expense', value = "Maintainance">Maintainance</option>
						<option data-desc = 'expense', value = "Travel">Travel</option>
						<option data-desc = 'expense', value = "Meals">Meals</option>
						<option data-desc = 'expense', value = "Tools">Tools</option>
						<option data-desc = 'expense', value = "Misc">Misc</option>
						<option data-desc = 'expense', value = "Display">Display</option>
						<option data-desc = 'expense', value = "Entertainment">Entertainment</option>
						<option data-desc = 'expense', value = "Training">Training</option>
						<option data-desc = 'expense', value = "Packaging">Packaging</option>
					</select>
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<label>Vendor/Contractor/Store<span class="k-required"></span></label>
					<input type='hidden' name='_vendor' data-select='vendor'/>
					<select id='_vendor' name ='_vendor' class="browser-default custom-select custom-select-lg mb-3" required>
						{% if exp == -1%}
							<option data-desc = 'vendor', value = "select menu">select menu</option>
						{% else %}
							<option selected>{{vendor}}</option>
						{% endif %}	
						{% for ven in vendor_list%}
							<option data-desc = 'vendor', value = "{{ven}}">{{ven}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-2 col-lg-3 grid-col" id = 'vehicle'>
				<div class="form-group">
					<label>Vehicle <span class="k-required"></span></label>
					<input type='hidden' name='item_desc' data-select='model'/>
					<select id='_vehicle' name = "_vehicle" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
						{% if exp != -1 %}
							<option selected>{{exp.item}}</option>
							<option data-desc = 'model', value = "select menu">select menu</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						
						{% for veh in vehicle_list %}
							<option data-desc = 'description', value = "{{veh}}">{{veh}}</option>
						{% endfor %}
					</select>
				</div>	
			</div>
			<div class="col-sm-1 col-lg-3 grid-col" id = 'vehicle_desc'>
				<div class="form-group">
					<label for="_item_name">Vehicle Description</label>
					{% if exp == -1 %}
						<input id = "_vehicle_desc" name = "_vehicle_desc" input class="form-control" placeholder="Enter Vehicle Description"  required >
					{% else %}
						<input id = "_vehicle_desc" name = "_vehicle_desc" input class="form-control" value = "{{exp.item_desc}}"  required  autofocus >
					{% endif %}
				</div>
			</div>
			<div class="col-sm-2 col-lg-3 grid-col" id = 'building'>
				<div class="form-group">
					<label>Building <span class="k-required"></span></label>
					<input type='hidden' name='item_desc' data-select='model'/>
					<select id='_building' name = "_building" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
						{% if building != -1 %}
							<option selected>{{exp.item}}</option>
							<option data-desc = 'model', value = "select menu">select menu</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						
						{% for veh in building_list %}
							<option data-desc = 'description', value = "{{veh}}">{{veh}}</option>
						{% endfor %}
					</select>
				</div>	
			</div>
			<div class="col-sm-2 col-lg-3 grid-col" id = 'building_space'>
				<div class="form-group">
					<label>Building Space <span class="k-required"></span></label>
					<input type='hidden' name='item_desc' data-select='model'/>
					<select id='_building_space' name = "_building_space" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
						{% if space != -1 %}
							<option selected>{{exp.item_desc}}</option>
							<option data-desc = 'model', value = "select menu">select menu</option>
						{% else %}
							<option selected>select menu</option>
						{% endif %}	
						
						{% for veh in space_list %}
							<option data-desc = 'description', value = "{{veh}}">{{veh}}</option>
						{% endfor %}
					</select>
				</div>	
			</div>
			<div class="col-sm-1 col-lg-2 grid-col" id = 'text'>
				<div class="form-group">
					<label for="_item_name">Item Name</label>
					{% if exp == -1 %}
						<input id = "_item_name" name = "_item_name" input class="form-control" placeholder="Enter Item Name"  required  autofocus >
					{% else %}
						<input id = "_item_name" name = "_item_name" input class="form-control" value = "{{exp.item}}"  required  autofocus >
					{% endif %}
				</div>
			</div>
			<div class="col-sm-1 col-lg-4 grid-col">
				<div class="form-group" id = "description">
					<label for="_item_desc">Item Description</label>
					{% if exp == -1 %}
						<input id = "_desc" name = "_item_desc" input class="form-control" placeholder="Enter Item description"  required >
					{% else %}
						<input id = "_desc" name = "_item_desc" input class="form-control" value = "{{exp.item_desc}}"  required >
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_quantity">Quantity</label>
					{% if exp == -1 %}
						<input id = "_quantity"  name = "_quantity" input class="form-control"  placeholder="Quantity" required>
					{% else %}
						<input id = "_quantity"  name = "_quantity" value = "{{exp.quantity}}" input class="form-control" required>
					{% endif %}
				</div>	
			</div>
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_item_cost">Item Cost</label>
					{% if exp == -1 %}
						<input id = "_item_cost"  name = "_item_cost" input class="form-control"  placeholder="Enter cost" required>
					{% else %}
						<input id = "_item_cost"  name = "_item_cost" value = "{{exp.item_cost}}" input class="form-control" required>
					{% endif %}
				</div>	
			</div>
			<div class="col-sm-1 col-lg-1 grid-col">
				<div class="form-group">
					<label for="_total_cost">Total Cost</label>
					{% if exp == -1 %}
						<input id = "_total_cost" name = "_total_cost" input class="form-control" placeholder="Total cost"  required>
					{% else %}
						<input id = "_total_cost" name = "_total_cost" input class="form-control" value = "{{exp.total_cost}}" required>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-1 col-lg-2 grid-col">
				<div class="form-group">
					<label for="_quantity">Date</label>
					{% if exp == -1 %}
						<input type = "date" id = "_sale_date"  name = "_sale_date" input class="form-control" required>
					{% else %}
						<input type = "date" id = "_sale_date"  name = "_sale_date" value = {{exp.sale_date}} input class="form-control"  required>
					{% endif %}
				</div>	
			</div>
			{% if exp == -1 %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<label  for="_quantity">Save</label>
							<button type="submit" id = "_save" name = "_save"  class="btn btn-success">Save Expense</button>
						</div>
					</div>
				{% else %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<button type="submit" id = "_update" name = "_update"  class="btn btn-primary">Update</button>
							<button type="submit" id = "_delete" name = "_delete"  class="btn btn-danger">Delete&nbsp;</button>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<div class="form-check">
							{% if interval == 'on' %}
								<input type="checkbox" class="form-check-input" id="_interval" name="_interval" checked = "checked" onclick="check();"/>
								<label class="form-check-label" for="_interval">&nbsp;&nbsp;&nbsp;&nbsp;Re-occuring?</label>
							{% else %}
								<input type="checkbox" class="form-check-input" id="_interval" name="_interval" onclick="check();"/>
								<label class="form-check-label" for="_interval">&nbsp;&nbsp;&nbsp;&nbsp;Re-occuring?</label>
							{% endif %}
						</div>
					</div>	
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group" id = "_interval_checked" type = "hidden">
						<label>Select Inteval<span class="k-required"></span></label>
						<select id='_interval_time' name = "_interval_time" value = "{{exp.reoccuring_interval}}" class="browser-default custom-select custom-select-lg mb-3" >
							{% if exp == -1 %}
								<option selected>select option</option>
							{% else %}
								<option selected>{{exp.reoccuring_interval}}</option>
							{% endif %}
							<option data-desc = 'expense_type', value = "Monthly">Monthly</option>
							<option data-desc = 'expense_type', value = "Quarterly">Quarterly</option>
							<option data-desc = 'expense_type', value = "6 Months">6 Months</option>
							<option data-desc = 'expense_type', value = "1 Year">1 Year</option>
							<option data-desc = 'expense_type', value = "2 Year">2 Year</option>
							<option data-desc = 'expense_type', value = "3 Year">5 Year</option>
						</select>
					</div>	
				</div>
		</form>
		</div>	
		<h2 class="text-center">Expense List ({{year}})</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>ID</th>
					  <th>Vendor ID</th>
					  <th>Expense Type</th>
					  <th>Expense Desc</th>
					  <th>Sale Date</th>
					  <th>Item Description</th>
					  <th>Quantity</th>
					  <th>Total Cost</th>
					</tr>
			    </thead>
				<tbody>
					{% for exp1 in expense_list %}
						<tr>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.id}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.vendor_id}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.expense_type}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.expense_description}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.sale_date}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.item_desc}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.quantity}}</td>
							<td><a class="nav-link" href="{% url 'accounts:new_expense' %}?expense_id={{exp1.id}}&vendor_id={{exp1.vendor_id}}">{{exp1.total_cost}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	$(document).ready(function() {
		$("#vehicle").hide();
		$("#vehicle_desc").hide();
		$("#building").hide();
		$("#building_space").hide();
		$("#_quantity").keyup(calc);
		$("#_item_cost").keyup(calc);
		$('#_exp_desc').change(function() {
			var test = $(this).val().search('Vehicle');
			var test2 = $(this).val().search('Building');
			var test3 = $(this).val().search('Office');
			var test4 = $(this).val().search('Lab');
			var test5 = $(this).val().search('Shop');
			var test6 = $(this).val().search('Internet');
			var test7 = $(this).val().search('Database');
			var test8 = $(this).val().search('Computers');
			var test9 = $(this).val().search('Gas');
			if (test!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").hide();
				$("#building_space").hide();
				$("#vehicle").show();
				$("#vehicle_desc").show();
			}
			else if (test2!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test3!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test4!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test5!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test6!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test7!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test8!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").show();
				$("#building_space").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
			}
			else if (test9!=-1) {
				$("#text").hide();
				$("#description").hide();
				$("#building").hide();
				$("#building_space").hide();
				$("#vehicle").show();
				$("#vehicle_desc").show();
			}
			else {
				$("#text").show();
				$("#description").show();
				$("#vehicle").hide();
				$("#vehicle_desc").hide();
				$("#building").hide();
				$("#building_space").hide();
			}
		});
		function calc() {
		  $('#_total_cost').val(
			parseInt($('#_quantity').val(), 10) * parseFloat($('#_item_cost').val(), 10)
		);
	}
	});
</script>
		
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script> 
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

</body>
{% endblock %}

</html>
