{% extends "accounting/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Expense Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<span data-feather="home"></span>
					<a class="nav-link" href="{% url 'users:base' %}">home  </a>
				</li>
				<li class="nav-item active">
					<span data-feather="home"></span>
					<a class="nav-link" href="{% url 'inventory:items' %}">  Inventory Items  </a>
				</li>
				<li class="nav-item active">
					<span data-feather="file"></span>
					<a class="nav-link " href="{% url 'equipment:equipment' %}" aria-disabled="true">  Equipment  </a>
				</li>
				<li class="nav-item active">
				<span data-feather="home"></span>
					<a class="nav-link " href="{% url 'locations:location' %}" aria-disabled="true">  Site locations  </a>
				</li>
				<li class="nav-item active">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">Log out</a>
				</li>
				<li class="nav-item active">
				<span data-feather="dummyspace"></span>
					<a class="nav-link" href="#" aria-disabled="true">      </a>
				</li>
				<li class="nav-item active">
				<span data-feather="dummyspace"></span>
					<a class="nav-link" href="#" aria-disabled="true">      </a>
				</li>
			</ul>
			<form class="form-inline mt-6 mt-md-0 col-lg-16" method="post" action="{% url 'inventory:inven' %}">
				{% csrf_token %}
				{% if search == -1 %}
					<input id = "search"  size = "100" name = "search" onchange="this.form.submit()" "mr-sm-6 col-md-6 col-lg-16" type="text" placeholder="Search" aria-label="Search" autofocus>
				{% else %}
					<input id = "search"  size = "100" value = "{{search}}" name = "search" onchange="this.form.submit()" "mr-sm-6 col-md-6 col-lg-16" type="text" placeholder="Search" aria-label="Search" autofocus>
				{% endif %}
				
			</form>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<div id="load">
		<p class="aligncenter">
			<a>Loading expenses</a>
	</div>
	<div id="contents">
		<div class="img-container">
			<img src="{% static 'inventory/images/loader.gif' %}" alt="centered image" /> 
		</div>	
	</div>
	<h4 class="text-center">ATS Expense Search</h4>
        <form method="post" id="selectForm" dropdown-url="{% url 'accounting:expenses' %}" action="{% url 'inventory:inven' %}" >
			{% csrf_token %}
			<div class="row">
			    <div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Expense Type <span class="k-required"></span></label>
						<input type='hidden' name='exp_type' data-select='cat'/>
						<select id='_exp_type' name = '_exp_type' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							<option selected>select menu</option>
							{% for type in type_list %}
								<option data-desc = 'expense_type', value = "{{type}}">{{type}}</option>
							{% endfor %}
						</select>
					</div>
				</div>	
				<div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Expense Description<span class="k-required"></span></label>
						<input type='hidden' name='exp_desc' data-select='exp_desc'/>
						<select id='_exp_desc' name = "_exp_desc" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							<option selected>select menu</option>
							{% for desc in desc_list %}
								<option data-desc = 'exp_desc', value = "{{desc}}">{{desc}}</option>
							{% endfor %}
						</select>
					</div>		
				</div>	
				<div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Item Name<span class="k-required"></span></label>
						<input type='hidden' name='item_name' data-select='item_name'/>
						<select id='_item_name' name ='_item_name' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							<option selected>select menu</option>
							{% for name in item_name_list %}
								<option data-desc = 'description', value = "{{name}}">{{name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>	
				<div class="col-sm-2 col-lg-3 grid-col">
					<div class="form-group">
						<label>Expense Description<span class="k-required"></span></label>
						<input type='hidden' name='item_desc' data-select='status'/>
						<select id='_item_desc' name='_item_desc' class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()" >
							<option selected>select menu</option>
							{% for idesc in item_desc_list %}
								<option data-desc = 'status', value = "{{idesc}}">{{idesc}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			<hr class="my-5">	
			</form>	
			<div class="row">
				<div class="col-sm-2 col-lg-4 grid-col">
					<div class="form-group">
						<button type="button"  href="{% url 'accounting:new_expense' %}" class="btn btn-primary">Add New</button>
					</div>
				</div>
			</div>
		</div>
		<h2 class="text-center">Expense List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>Vendor ID</th>
					  <th>Expense Type</th>
					  <th>Expense Desc</th>
					  <th>Sale Date</th>
					  <th>Item Description</th>
					  <th>Quantity</th>
					  <th>Total Cost</th>
					</tr>
			    </thead>
				<tbody>
					{% for exp1 in expense_list %}
						<tr>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.vendor_id}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.expense_type}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.expense_description}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.sale_date}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.item_desc}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.quantity}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_expense' %}?expense_id ={{expense_id}}">{{exp1.total_cost}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'inventory/js/bootstrap.bundle.js' %}"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="{% static 'inventory/js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'inventory/js/page_loader.js' %}"></script>
</body>
{% endblock %}

</html>
