{% extends "accounting/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Income Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-incanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'accounting:income' %}" aria-disabled="true">Income&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item  ">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'accounting:new_income' %}">New Income</a>
				</li>
				<li class="nav-item ">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'client:client' %}">New Client&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out</a>
				</li>
				<li class="nav-item ">
				<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
			<form class="form-inline mt-4 mt-md-0 col-lg-4" method="post" action="{% url 'accounting:income' %}">
				{% csrf_token %}
				{% if search == -1 %}
					<input id = "search"  size = "100" name = "search" onchange="this.form.submit()" "mr-sm-2 col-md-4 col-lg-4" type="text" placeholder="Search" aria-label="Search" autofocus>
				{% else %}
					<input id = "search"  size = "100" value = "{{search}}" name = "search" onchange="this.form.submit()" "mr-sm-2 col-md-4 col-lg-4" type="text" placeholder="Search" aria-label="Search" autofocus>
				{% endif %}
				
			</form>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<div id="load">
		<p class="aligncenter">
			<a>Loading income</a>
	</div>
	<div id="contents">
		<div class="img-container">
			<img src="{% static 'inventory/images/loader.gif' %}" alt="centered image" /> 
		</div>	
	</div>
	<h4 class="text-center">ATS Income Search</h4>
		<a class="nav-link text-center" href="{% url 'accounting:new_income' %}">Add New Income</a>
		<p>&nbsp;</p>
        <form method="post" id="selectForm" dropdown-url="{% url 'accounting:income' %}" action="{% url 'accounting:income' %}" >
			{% csrf_token %}
			<div class="row">
			    <div class="col-sm-2 col-lg-1 grid-col">
					<div class="form-group">
						<label>Year <span class="k-required"></span></label>
						<input type='hidden' name='yearl' data-select='model'/>
						<select id='_year' name = "_year" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							{% if year != -1 %}
								<option selected>{{year}}</option>
								<option data-desc = 'model', value = "select menu">all years</option>
							{% else %}
								<option selected>all years</option>
							{% endif %}	
							{% for year in year_list %}
								<option data-desc = 'year', value = "{{year}}">{{year}}</option>
							{% endfor %}
						</select>
					</div>	
				</div>
				<div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Income Type <span class="k-required"></span></label>
						<input type='hidden' name='yearl' data-select='model'/>
						<select id='_inc_type' name = "_inc_type" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							{% if income_type != -1 %}
								<option selected>{{income_type}}</option>
								<option data-desc = 'inc_type', value = "select menu">select menu</option>
							{% else %}
								<option selected>select menu</option>
							{% endif %}	
							{% for type in type_list %}
								<option data-desc = 'inc_type', value = "{{type}}">{{type}}</option>
							{% endfor %}
						</select>
					</div>	
				</div>
				<div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Income Description <span class="k-required"></span></label>
						<input type='hidden' name='inc_desc' data-select='model'/>
						<select id='_inc_desc' name = "_inc_desc" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							{% if income_desc != -1 %}
								<option selected>{{income_desc}}</option>
								<option data-desc = 'inc_desc', value = "select menu">select menu</option>
							{% else %}
								<option selected>select menu</option>
							{% endif %}	
							{% for desc in desc_list %}
								<option data-desc = 'inc_desc', value = "{{desc}}">{{desc}}</option>
							{% endfor %}
						</select>
					</div>	
				</div>
				<div class="col-sm-2 col-lg-2 grid-col">
					<div class="form-group">
						<label>Client <span class="k-required"></span></label>
						<input type='hidden' name='inc_desc' data-select='model'/>
						<select id='_client' name = "_client" class="browser-default custom-select custom-select-lg mb-3" onchange="this.form.submit()">
							{% if client != -1 %}
								<option selected>{{client}}</option>
								<option data-desc = 'client', value = "select menu">select menu</option>
							{% else %}
								<option selected>select menu</option>
							{% endif %}	
							{% for cli in client_list %}
								<option data-desc = 'inc_desc', value = "{{cli}}">{{cli}}</option>
							{% endfor %}
						</select>
					</div>	
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label>Income Total<span class="k-required"></span></label>
						<input  name='_total' id='_total' value = "${{total}}"/>
					</div>
				</div>
			</div>	
		</div>
	</form>	
		<h2 class="text-center">Income List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>Income Type</th>
					  <th>Income Descripton</th>
					  <th>Income Date</th>
					  <th>Item Description</th>
					  <th>Quantity</th>
					  <th>Item Cost</th>
					  <th>Total Cost</th>
					</tr>
			    </thead>
				<tbody>
					{% for inc1 in income_list %}
						<tr>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.income_type}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.income_description}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.sale_date}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.item_desc}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.quantity}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.item_cost}}</td>
							<td><a class="nav-link" href="{% url 'accounting:new_income' %}?income_id={{inc1.id}}&invoice_id={{inc1.invoice_id}}&client_id={{inc1.client_id}}">{{inc1.total_cost}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'accounting/js/bootstrap.bundle.js' %}"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="{% static 'accounting/js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'accounting/js/page_loader.js' %}"></script>
</body>
{% endblock %}

</html>
