{% extends "equipment/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Vehicle Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'dashboard:dashboard' %}" aria-disabled="true">Dashboard</a>
				</li>
				<li class="nav-item">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'assets:assets' %}" aria-disabled="true">Assets&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item active">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'assets:vehicle' %}">Vehicles&nbsp;&nbsp;</a>>
				</li>
				<li class="nav-item ">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'assets:building' %}">Commercial Space</a>
				</li>
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'locations:location' %}" aria-disabled="true">Building Locations&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'assets:personnel' %}">Personnel&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out</a>
				</li>
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar navbar-dark bg-dark sidebar collapse" >
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand text-left sidebar-brand m-0" href="#">
				<span class="text-left d-lg-flex flex-wrap justify-content-lg-start" style="font-size: 12;">ATS Navigation</span>
				<div class="sidebar-brand-icon rotate-n-15"></div><div class="sidebar-brand-text mx-3"></div></a>
				<hr class="sidebar-divider my-0">
				<ul class="nav navbar-nav text-light nav flex-column" id="accordionSidebar">
					<li class="nav-item"><a class="nav-link" href="{% url 'dashboard:dashboard' %}"><i class="fas fa-chart-line"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
					<li class="nav-item"></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:invoice_item' %}"><i class="fa fa-balance-scale"></i><span>&nbsp;&nbsp;&nbsp;Invoicing</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:quote_item' %}"><i class="fa fa-address-book"></i><span>&nbsp;&nbsp;&nbsp;Quotes</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:income' %}"><i class="fa fa-credit-card"></i><span>&nbsp;&nbsp;&nbsp;Income</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'assets:assets' %}"><i class="fas fa-truck"></i><span>&nbsp;&nbsp;&nbsp;Capital Budget</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:new_expense' %}"><i class="fas fa-gas-pump"></i><span style="font-family: Nunito, sans-serif;"&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Expenses</span></a>
					<li class="nav-item"><a class="nav-link" href="{% url 'inventory:inven' %}"><i class="fa fa-barcode"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Inventory</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'equipment:equipment' %}"><i class="fa fa-cogs"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Equipment</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'client:client' %}"><i class="fa fa-user"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Clients</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'contractors:contractor' %}"><i class="fa fa-wrench"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Contractors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'vendor:vendor' %}"><i class="fab fa-connectdevelop"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Vendors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'locations:location' %}"><i class="far fa-building"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Locations</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'users:base' %}"><i class="fas fa-tachometer-alt"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Home</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="far fa-sun"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'atspublic:public' %}"><i class="fa fa-male"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Website</span></a></li>
				</ul>
				<div class="text-center d-none d-md-inline"></div>
			</div>
		</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			{% if veh == -1 %}
				<h1 class="h2">Add new Vehicle</h1>
			{% else %}
			<h1 class="h2">Modify Vehicle</h1>
				{% endif %}
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<a style = "color:#CCD1D1" > {{operator}} logged in</a>
				</div>
			</div>
		</div>
		<form action = "{% url 'assets:vehicle' %}"  method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }} 
			<input type='hidden' id = 'veh_id' name='veh_id' value = "{{veh.id}}"/>
			<input type='hidden' id = 'vehicle' name='vehicle' value = "{{veh.name}}"/>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_desc">Name</label>
						{% if duplicate != -1 %}
							<input id = "_desc" name = "_model" input class="form-control" placeholder="***Name must be unique!!***"  required >
						{% elif veh == -1 %}
							<input id = "_name" name = "_name" input class="form-control" placeholder="Describe your vehicle"  required >
						{% else %}
							<input id = "_name" name = "_name" input class="form-control" value = "{{veh.name}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					 <div class="form-group">
						<label>Make<span class="k-required"></span></label>
						<input type='hidden' name='type' data-select='type'/>
						<select id='_make' name = "_make" value = "{{veh.make}}" class="browser-default custom-select custom-select-lg mb-3" >
							{% if veh == -1 %}
								<option selected>select make</option>
							{% else %}
								<option selected>{{veh.make}}</option>
							{% endif %}
							<option data-desc = 'equipment', data-val = "ACURA">ACURA</option>
							<option data-desc = 'equipment', data-val = "AUDI">AUDI</option>
							<option data-desc = 'equipment', data-val = "ALFA ROMEO">ALFA ROMEO</option>
							<option data-desc = 'equipment', data-val = "BMW">BMW</option>
							<option data-desc = 'equipment', data-val = "BENTLY">BENTLY</option>
							<option data-desc = 'equipment', data-val = "BUICK<">BUICK</option>
							<option data-desc = 'equipment', data-val = "CADDILLAC">CADDILLAC</option>
							<option data-desc = 'equipment', data-val = "CHEVROLET">CHEVROLET</option>
							<option data-desc = 'equipment', data-val = "CHRYSLER">CHRYSLER</option>
							<option data-desc = 'equipment', data-val = "DODGE">DODGE</option>
							<option data-desc = 'equipment', data-val = "FIAT">FIAT</option>
							<option data-desc = 'equipment', data-val = "FORD">FORD</option>
							<option data-desc = 'equipment', data-val = "GMC">GMC</option>
							<option data-desc = 'equipment', data-val = "GENESIS">GENESIS</option>
							<option data-desc = 'equipment', data-val = "HONDA">HONDA</option>
							<option data-desc = 'equipment', data-val = "HYUNDAI">HYUNDAI</option>
							<option data-desc = 'equipment', data-val = "INFINITI">INFINITI</option>
							<option data-desc = 'equipment', data-val = "JAGUAR">JAGUAR</option>
							<option data-desc = 'equipment', data-val = "JEEP">JEEP</option>
							<option data-desc = 'equipment', data-val = "KIA">KIA</option>
							<option data-desc = 'equipment', data-val = "LAND ROVER">LAND ROVER</option>
							<option data-desc = 'equipment', data-val = "LEXUS">LEXUS</option>
							<option data-desc = 'equipment', data-val = "LINCOLN">LINCOLN</option>
							<option data-desc = 'equipment', data-val = "LOTUS">LOTUS</option>
							<option data-desc = 'equipment', data-val = "MASERATI">MASERATI</option>
							<option data-desc = 'equipment', data-val = "MERCURY">MERCURY</option>
							<option data-desc = 'equipment', data-val = "MINI">MINI</option>
							<option data-desc = 'equipment', data-val = "MITSUBISHI">MITSUBISHI</option>
							<option data-desc = 'equipment', data-val = "NIKOLA">NIKOLA</option>
							<option data-desc = 'equipment', data-val = "NISSAN">NISSAN</option>
							<option data-desc = 'equipment', data-val = "POLESTAR">POLESTAR</option>
							<option data-desc = 'equipment', data-val = "PONTIAC">PONTIAC</option>
							<option data-desc = 'equipment', data-val = "PORSCHE">PORSCHE</option>
							<option data-desc = 'equipment', data-val = "ROLLS-ROYCE">ROLLS-ROYCE</option>
							<option data-desc = 'equipment', data-val = "SAAB">SAAB</option>
							<option data-desc = 'equipment', data-val = "SATURN">SATURN</option>
							<option data-desc = 'equipment', data-val = "SCION">SCION</option>
							<option data-desc = 'equipment', data-val = "SMART">SMART</option>
							<option data-desc = 'equipment', data-val = "SABARU">SABARU</option>
							<option data-desc = 'equipment', data-val = "SUZUKI">SUZUKI</option>
							<option data-desc = 'equipment', data-val = "TESLA">TESLA</option>
							<option data-desc = 'equipment', data-val = "TOYOTA">TOYOTA</option>
							<option data-desc = 'equipment', data-val = "VOLKSWAGEN">VOLKSWAGEN</option>
							<option data-desc = 'equipment', data-val = "VOLVO">VOLVO</option>
						</select>
					</div>	
				</div>	
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_desc">Model</label>
						{% if veh == -1 %}
							<input id = "_desc" name = "_model" input class="form-control" placeholder="Enter vehicle Model"  required >
						{% else %}
							<input id = "_desc" name = "_model" input class="form-control" value = "{{veh.model}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label>Type <span class="k-required"></span></label>
						<input type='hidden' name='models' data-select='_band'/>
						<select id='_type' name = "_type" value = "{{veh.type}}" class="browser-default custom-select custom-select-lg mb-3" >
							{% if veh == -1 %}
								<option selected>select type</option>
							{% else %}
								<option selected>{{veh.type}}</option>
							{% endif %}
							<option data-desc = 'band', data-val = "CAR">CAR</option>
							<option data-desc = 'band', data-val = "SUV">SUV</option>
							<option data-desc = 'band', data-val = "VAN">VAN</option>
							<option data-desc = 'band', data-val = "1/2 TON PICKUP">1/2 TON PICKUP</option>
							<option data-desc = 'band', data-val = "1 TON PICKUP">1 TON PICKUP</option>
							<option data-desc = 'band', data-val = "HEAVY TRUCK">HEAVY TRUCK</option>
							<option data-desc = 'band', data-val = "TANKER TRUCK">TANKER TRUCK</option>
							<option data-desc = 'band', data-val = "FLATBED TRUCK">FLATBED TRUCK</option>
							<option data-desc = 'band', data-val = "DUMP TRUCK">DUMP TRUCK</option>
							<option data-desc = 'band', data-val = "GARBAGE TRUCK">GARBAGE TRUCK</option>
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label for="_insurance"># Tires</label>
						{% if veh == -1 %}
							<input id = "_n_tires" name = "_n_tires" input class="form-control" placeholder="Enter Tires"  required >
						{% else %}
							<input id = "_n_tires" name = "_n_tires" input class="form-control" value = "{{veh.model}}"  required >
						{% endif %}
					</div>
				</div>				
			</div>	
			<div class="row">
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<!-- year-->
						<label>Year<span class="k-required"></span></label>
						<input type='hidden' name='_year' data-select='cust'/>
						<select id='_year' name ='_year' class="browser-default custom-select custom-select-lg mb-3" required>
							{% if client == -1%}
								<option data-desc = 'year', value = "select menu">select menu</option>
							{% else %}
								<option selected>{{year}}</option>
							{% endif %}	
							{% for yea in years%}
								<option data-desc = 'year', value = "{{cust}}">{{yea}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label>Ownership <span class="k-required"></span></label>
						<input type='hidden' name='owner' data-select='_owner'/>
						<select id='_owner' name = "_owner" value = "{{veh.type}}" class="browser-default custom-select custom-select-lg mb-3" >
							{% if veh == -1 %}
								<option selected>select option</option>
							{% else %}
								<option selected>{{veh.ownership}}</option>
							{% endif %}
							<option data-desc = 'owner', data-val = "OWNER">OWNER</option>
							<option data-desc = 'mortgage', data-val = "MORTGAGE">MORTGAGE</option>
							<option data-desc = 'lease', data-val = "LEASE">LEASE</option>
							<option data-desc = 'rent', data-val = "RENT">RENT</option>
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-1.5 grid-col">
					<div class="form-group">
						<label for="_miles">Original Value</label>
						{% if veh == -1 %}
							<input id = "_orig_val" name = "_orig_val" input class="form-control" placeholder="Original Value"  required >
						{% else %}
							<input id = "_orig_val" name = "_orig_val" input class="form-control" value = "{{veh.cost}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label for="_load">Load Limit</label>
						{% if veh == -1 %}
							<input id = "_load" name = "_load" input class="form-control" placeholder="Load Limit"  required >
						{% else %}
							<input id = "_load" name = "_load" input class="form-control" value = "{{veh.load_limit}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1.5 grid-col">
					<div class="form-group">
						<label for="_miles">Original Miles</label>
						{% if veh == -1 %}
							<input id = "_orig_miles" name = "_orig_miles" input class="form-control" placeholder="Original Miles"  required >
						{% else %}
							<input id = "_orig_miles" name = "_orig_miles" input class="form-control" value = "{{veh.original_miles}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1.5 grid-col">
					<div class="form-group">
						<label for="_miles">Active Miles</label>
						{% if veh == -1 %}
							<input id = "_active_miles" name = "_active_miles" input class="form-control" placeholder="Active Miles"  required >
						{% else %}
							<input id = "_active_miles" name = "_active_miles" input class="form-control" value = "{{veh.active_miles}}"  required >
						{% endif %}
					</div>
				</div>
				<div class="col-sm-1 col-lg-1 grid-col">
					<div class="form-group">
						<label for="_miles">Monthly Miles</label>
						{% if veh == -1 %}
							<input id = "_miles" name = "_miles" input class="form-control" placeholder="Monthly miles"  required >
						{% else %}
							<input id = "_miles" name = "_miles" input class="form-control" value = "{{veh.monthy_miles}}"  required >
						{% endif %}
					</div>
				</div>
				
			</div>	
			<div class="row">
				<div class="container-fluid">
					<h4 class="h3">Budget Costs</h4>
					<h5 ><strong>Payment:&nbsp;&nbsp;&nbsp; {{month}}:</strong> ${{payment_month}}<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{year}}:</strong> ${{payment_year}}</h5>
					<h5 ><strong>Fuel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{month}}:</strong> ${{fuel_month}}<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{year}}:</strong> ${{fuel_year}}</h5>
					<h5 ><strong>Insurance:</strong> ${{insurance}}</h5>
					<h5 ><strong>Maintenance:</strong> ${{maintenance}}</h5>
					<h5 ><strong>Repair:</strong> ${{repair}}</h5>
					<h5 ><strong>tires:</strong> ${{inspection}}</h5>
				</div>
			</div>
			<hr>
			<div class="row">	
				<div class="col-sm-3 col-lg-4 grid-col">
					<div class="form-group">
					    <label for="_upload"> Select an Equipment Image</label> 
						<input type="file" name="uploaded_file" id="uploaded_file"> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-lg-3 grid-col">
					<div class="thumbnail">
					    <img src="{{ uploaded_file_url }}" class="img-responsive" alt="Cinque Terre">
						</div>	
				</div>
			</div>
		<div class="row">
			    {% if veh == -1 %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<input type="submit" id = "_save" name = "_save" data-search="save"  value="Save Vehicle">
						</div>
					</div>
				{% else %}
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<input type="submit" id = "_update" name = "_update" data-update="save"  value="Update Vehicle">
						</div>
					</div>
					<div class="col-sm-1 col-lg-1 grid-col">
						<div class="form-group">
							<input type="submit" id = "_delete" name = "_delete" data-update="save"  value="Delete Vehicle">
						</div>
					</div>
				{% endif %}
			</div>
		</form>
		{% if uploaded_file_url %}
			<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{uploaded_file_url}}</a></p>
		{% endif %}
		<h2 class="text-center">Vehicle List</h2>
		<div class="table-responsive" Method = "POST">
			 <table id = "table_id" class="table table-striped table-sm">
			    <thead>
					<tr>
					  <th>ID</th>
					  <th>Name</th>
					  <th>Make</th>
					  <th>Model</th>
					  <th>Type</th>
					  <th>Year</th>
					</tr>
			    </thead>
				<tbody>
					{% for vehicle in vehicles %}
						<tr>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.id}}</td>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.name}}</td>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.make}}</td>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.model}}</td>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.type}}</td>
							<td><a class="nav-link" href="{% url 'assets:vehicle' %}?veh_id={{vehicle.id}}">{{vehicle.year}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script> 
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
</body>
{% endblock %}

</html>
